name: Deploy

on:
    push:
        branches:
            - main

jobs:
    build:
        name: Check
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
              with:
                  fetch-depth: 1

            - name: Use Node.js 16.x
              uses: actions/setup-node@v2.5.0
              with:
                  node-version: 16.x
                  cache: npm

            - name: Npm install and build
              run: |
                  npm ci
                  npm run build
            - name: Deploy
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./out
                  cname: clamp.font-size.app
