name: Validate JSON

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    validate:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Validate JSON
              uses: walbo/validate-json@v1.0.0
              env:
                  files:
                      - '.eslintrc.json'
                      - 'tsconfig.json'
