name: Validate JSON

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    validate:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Validate eslint json
              uses: walbo/validate-json@v1.0.1
              with:
                  files: .eslintrc.json, tsconfig.json
                  print-valid-files: true
